@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tailwind Styles */

.app {
    @apply relative z-10 flex justify-center items-center flex-col max-w-7xl mx-auto sm:px-16 px-6;
}

.black_btn {
    @apply rounded-full border border-black bg-black py-1.5 px-5 text-white transition-all hover:bg-white hover:text-black text-center text-sm font-inter flex items-center justify-center;
}

.outline_btn {
    @apply rounded-full border border-black bg-transparent py-1.5 px-5 text-black transition-all hover:bg-black hover:text-white text-center text-sm font-inter flex items-center justify-center;
}

.gray_outline_btn {
    @apply rounded-full border border-gray-400 bg-transparent py-1.5 px-5 text-gray-600 transition-all hover:bg-gray-400 hover:text-white text-center text-sm font-inter flex items-center justify-center;
}

.red_outline_btn {
    @apply rounded-full border border-red-400 disabled:border-red-200 bg-transparent py-1.5 px-5 text-red-600 disabled:text-red-300 transition-all disabled:cursor-not-allowed hover:bg-red-400 disabled:hover:bg-transparent hover:text-white text-center text-sm font-inter flex items-center justify-center;
}

.green_outline_btn {
    @apply rounded-full border border-green-400 disabled:border-green-200 bg-transparent py-1.5 px-5 text-green-600 disabled:text-green-300 transition-all disabled:cursor-not-allowed hover:bg-green-400 disabled:hover:bg-transparent hover:text-white text-center text-sm font-inter flex items-center justify-center;
}

.box_shadow_c1:hover {
    box-shadow: 0 0 0 4px rgb(243, 244, 246);
}

.box_shadow_c1:active {
    box-shadow: 0 0 0 4px rgb(209 250 229);
}

.signin_btn {
    @apply rounded-full border border-gray-500 bg-white my-1 py-1.5 px-5 text-black transition-all box_shadow_c1 text-base font-inter flex items-center justify-center gap-2.5 flex-wrap sm:flex-nowrap before:w-5 before:h-5 before:bg-no-repeat before:bg-center before:bg-cover;
}

.signin_btn.google {
    @apply before:bg-[url('/assets/icons/google.png')];
}

.signin_btn.github {
    @apply before:bg-[url('/assets/icons/github.png')];
}

.head_text {
    @apply mt-5 text-5xl font-extrabold leading-[1.15] text-black sm:text-6xl;
}

.orange_gradient {
    @apply bg-gradient-to-r from-amber-500 via-orange-600 to-yellow-500 bg-clip-text text-transparent;
}

.green_gradient {
    @apply bg-gradient-to-r from-green-400 to-green-500 bg-clip-text text-transparent;
}

.blue_gradient {
    @apply bg-gradient-to-r from-blue-600 to-cyan-600 bg-clip-text text-transparent;
}

.greeny_blue_gradient {
    @apply bg-gradient-to-r from-green-500 via-teal-500 to-cyan-600 bg-clip-text text-transparent;
}

.bluey_violet_gradient {
    @apply bg-gradient-to-r from-indigo-600 to-fuchsia-600 bg-clip-text text-transparent;
}

.box_shadow_b1 {
    box-shadow: 10px 20px 60px 0 rgba(199, 199, 199, 0.4);
}

.box_shadow_t1 {
    box-shadow: 10px -50px 94px 0 rgba(199, 199, 199, 0.2);
}

.box_shadow_t2 {
    box-shadow: 10px -10px 60px 0 rgba(199, 199, 199, 0.2);
}

.desc {
    @apply mt-5 text-lg text-gray-600 sm:text-xl max-w-2xl;
}

.search_input {
    @apply block w-full rounded-md border border-gray-200 bg-white py-2.5 font-satoshi pl-5 pr-12 text-sm shadow-lg font-medium focus:border-purple-400 focus:outline-none focus:ring-0 disabled:cursor-not-allowed;
}

.copy_btn {
    @apply w-7 h-7 rounded-full bg-cyan-100 box_shadow_t1 backdrop-blur flex justify-center items-center cursor-pointer;
}

.glassmorphism {
    @apply rounded-xl border border-gray-200 bg-white/20 box_shadow_t2 backdrop-blur p-5;
}

.gradient_glass {
    width: 100%;
    min-height: 100%;
    display: flex;
    position: relative;
}

.gradient_prompt_card {
    min-height: 100%;
    position: relative;
}

.gradient_glass::before,
.gradient_prompt_card::before {
    content: "";
    background-image: radial-gradient(at 27% 37%,
            hsla(215, 98%, 61%, 1) 0px,
            transparent 0%),
        radial-gradient(at 97% 21%, rgba(134, 239, 172, 1) 0px, transparent 50%),
        radial-gradient(at 52% 99%, rgba(252, 165, 165, 1) 0px, transparent 50%),
        radial-gradient(at 10% 29%, rgba(147, 197, 253, 1) 0px, transparent 50%),
        radial-gradient(at 97% 96%, hsla(38, 60%, 74%, 1) 0px, transparent 50%),
        radial-gradient(at 33% 50%, hsla(222, 67%, 73%, 1) 0px, transparent 50%),
        radial-gradient(at 79% 53%, hsla(343, 68%, 79%, 1) 0px, transparent 50%);
    opacity: 0.3;
    width: 100%;
    height: 100%;
    max-width: 640px;
    filter: blur(100px) saturate(150%);
    position: absolute;
    top: 60px;
    z-index: -1;
}

.gradient_prompt_card::before {
    max-width: 100%;
}

.prompt_layout {
    @apply space-y-6 py-8 sm:columns-2 sm:gap-6 xl:columns-3;
}

/* Feed Component */
.feed {
    @apply mt-16 mx-auto w-full max-w-xl flex justify-center items-center flex-col gap-2;
}

/* Form Component */
.form_textarea {
    @apply w-full flex rounded-lg h-[200px] mt-2 p-3 text-sm text-gray-500 outline-0 bg-white;
}

.form_input {
    @apply w-full flex rounded-lg mt-2 p-3 text-sm text-gray-500 outline-0;
}

.form_delete_input {
    @apply font-semibold text-gray-600 mt-6 mb-8 border-gray-200 border focus:border-purple-300;
}

.form_custom_checkbox {
    @apply inline-block w-[16px] h-[16px] border-2 border-gray-300 rounded transition-[border-color] ease-in-out delay-200 peer-checked/checkbox:border-green-400 group-hover:border-green-300 group-hover:peer-checked/checkbox:border-green-300 relative after:w-full after:h-full after:absolute peer-checked/checkbox:after:bg-[url('/assets/icons/tick.svg')] after:bg-no-repeat after:bg-bottom after:bg-[length:16px_16px] after:-right-[3px];
}

/* Pulse Component */
#pulse-bar {
    @apply w-full bg-gray-400 flex-center h-1 fixed inset-x-0 top-0 z-20;
}

@keyframes pulsate {
    50% {
        width: 100%
    }

    0%,
    100% {
        width: 40px;
    }
}

.pb_slider {
    animation: pulsate 1.2s ease-in-out infinite;
    @apply h-full w-10 rounded-lg bg-gradient-to-r from-cyan-200 via-teal-500 to-cyan-200 absolute transition-colors;
}

.first_slider {
    animation-delay: 0.6s;
    @apply from-cyan-200 via-teal-500 to-cyan-200 z-10;
}

.second_slider {
    animation-delay: 0s;
    @apply from-amber-200 via-teal-500 to-amber-200 z-0;
}

/* Nav Component */
.logo_text {
    @apply max-sm:hidden font-satoshi font-semibold text-lg text-black tracking-wide;
}

.dropdown {
    @apply absolute right-0 top-full mt-3 w-full p-5 rounded-lg bg-white min-w-[210px] flex flex-col gap-2 justify-end items-end;
}

.dropdown_link {
    @apply text-sm font-inter text-gray-700 hover:text-gray-500 font-medium;
}

/* PromptCard Component */
.prompt_card {
    @apply flex-1 break-inside-avoid rounded-lg border border-gray-300 bg-white/20 bg-clip-padding p-6 pb-4 backdrop-blur-lg backdrop-filter md:w-[360px] w-full h-fit select-none;
}

/* Dialog Component */
.popup_dialog {
    @apply w-5/6 md:w-1/2 lg:w-1/3 max-w-md p-0 border-none rounded-xl
}

.flex-center {
    @apply flex justify-center items-center;
}

.flex-start {
    @apply flex justify-start items-start;
}

.flex-end {
    @apply flex justify-end items-center;
}

.flex-between {
    @apply flex justify-between items-center;
}